* {
    margin:0;
    padding:0;
    border: 0;
}
body {
    background-color: #2c2c2c;
}
table {
    border-spacing:0;
}
td {
    background-color: rgb(148, 148, 148);
    height: 5px;
    width: 5px;
}

.alive {
    background-color: aqua;
}